<article>
  <header>
    <h1><a href="<%= url(article.slug) %>"><%= article.title %></h1>
    <time class="timeago" data-pieces="timeago" datetime="<%= article.date.xmlschema %>">
      <%= article.date.strftime "%Y/%m/%d" %>
    </time>
  </header>
  <section>
    <%= markdown article.content %>
  </section>
</article>
