<article class="post">
  <header>
    <h2 class="post-title"><a href="<%= url(post.slug) %>"><%= post.title %></a></h2>
    <time class="post-date" data-components="timeago" datetime="<%= post.date.xmlschema %>">
      <%= post.date.strftime "%Y/%m/%d" %>
    </time>
  </header>
  <section class="post-content"><%= markdown post.content %></section>
  <section id="disqus_thread">
    <script type="text/javascript">
      var disqus_shortname = "<%= ENV['DISQUS_SHORTNAME'] %>";
      (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </section>
</article>
